@import "variables.scss";
nav {
  display: flex;
  align-items: center;
  height: 60px;
  border-top: 1px solid #c6c6c6b6;
  margin: 0 auto;
  margin-top: 10px;

  ul {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    margin-top: -20px;
    list-style: none;
    li {
      cursor: pointer;
      margin-right: 7.5rem;
      p {
        color: $blue;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        display: flex;
        align-items: center;

        p {
          margin-right: 5px;
        }
      }
    }
  }
}
