@import "variables.scss";

.opcoes-instrumentos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  height: 35vh;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    transition: 0.2s ease;

    &:hover {
      opacity: 1;
      img {
        padding: 6px;
        border: solid 1px $blue;
        border-radius: 60px;
      }
    }

    p {
      margin-top: 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      color: $blue;
    }

    img {
      height: 106px;
      padding: 6px;
      border: solid 1px transparent;
      border-radius: 60px;
    }
  }
}
