@import "variables.scss";

.slider {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: -16px;
  background-color: red;
  height: 81vh;
  background: url("../../images/slider.png") 100%;
  background-size: cover;
  background-position: bottom;

  .left-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 35px;
  }

  .right-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 35px;
  }

  .controls {
    display: flex;
    position: absolute;
    bottom: 22px;
    left: 45%;
    div {
      border: solid 1px #ffffff;
      width: 11px;
      border-radius: 60px;
      height: 11px;
      margin-right: 20px;

      &:nth-child(3) {
        background-color: #ffffff;
      }
    }
  }

  .slider-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary-font-color;
    text-transform: uppercase;
    margin-left: 150px;
    margin-top: 45px;

    h1 {
      font-size: 46px;
      letter-spacing: 2px;
    }

    p {
      &:first-child {
        margin-bottom: 12px;
        letter-spacing: 8px;
        font-size: 16px;
        align-self: center;
      }

      &:nth-child(3) {
        font-size: 46px;
        letter-spacing: 4px;
        font-weight: 100;
      }
    }

    button {
      cursor: pointer;
      border: none;
      border-bottom: solid 1px #ffffff;
      background-color: transparent;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 25px;
      padding: 12px;
      align-self: center;
    }
  }
}
